<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "https://wasscehistorytextbook.com/"
    versionCode = "37"
    version     = "1.1.2" >

<!-- versionCode is optional and Android only -->

  <name>WASSCE History Quiz</name>

  <description>
  This quiz is aimed at West African students taking West African Senior School Certificate Examination (WASSCE) History Paper 1, “West Africa and the Wider World from Earliest Times to 2000”. 
  </description>

  <author href="https://wasscehistorytextbook.com/" email="vincent.hiribarren@kcl.ac.uk">Vincent Hiribarren</author>

<preference name="android-targetSdkVersion" value="26"/>
<icon src="icon.png"/>

  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
      <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>
 


</widget>
